# Tuples

In [1]:
# Its similar to list but we CANNOT (Immutable) change elements of tuple once it is assigned whereas in list we can change
# Syntax tuplet = (,) can hold various datatypes

In [4]:
t=()
print(t) # empty tuple

()

In [5]:
t1 = (1,"Hello",3.14,1+2j)
print(t1)

(1, 'Hello', 3.14, (1+2j))

In [6]:
# Nested Tuple

In [7]:
nestedTuple = (1,(100,'Excellent'),[1,"Hello",3.14,1+2j]) # Tuple within a Tuple & also has List
print(nestedTuple)

(1, (100, 'Excellent'), [1, 'Hello', 3.14, (1+2j)])

In [8]:
name = ('Thiyagu') 
type(name) # just prints name holds string

str

In [15]:
name = ('Thiyagu',) 
type(name)# just add comma will display the what data structure it is

tuple

In [16]:
name1 = "Seeni",  # just add comma will display the what data structure it is
print(type(name1))

<class 'tuple'>

# Accessing Elements in Tuple

In [17]:
t2 = ('Hello','Hi','Howdy','Hi There')
print(t2[2])

Howdy

In [18]:
print(t2[-1])

Hi There

# Nested Tuple

In [19]:
nestedTuple = ('Fruits',('Apple','Banana'),'Orange',('Grapes','Plums'))
print(nestedTuple[2])

Orange

In [20]:
print(nestedTuple[1])

('Apple', 'Banana')

In [21]:
print(nestedTuple[-1])

('Grapes', 'Plums')

In [27]:
print(nestedTuple)

('Fruits', ('Apple', 'Banana'), 'Orange', ('Grapes', 'Plums'))

In [29]:
print(nestedTuple[1][0]) # Slicing

Apple

In [30]:
print(nestedTuple[:])

('Fruits', ('Apple', 'Banana'), 'Orange', ('Grapes', 'Plums'))

In [31]:
print(nestedTuple[1:])

(('Apple', 'Banana'), 'Orange', ('Grapes', 'Plums'))

# Changing Tuple

In [32]:
# Its Immutable & cant change

In [33]:
fruitList = ('Apple','Mango','Orange')
fruitList[2] = 'Grapes' # Trying to assign Grapes in Index 2
print(fruitList)

TypeError: 'tuple' object does not support item assignment

In [34]:
fruitList1 = ('Apple','Mango','Orange',['Beans','Carrot','Beetroot'])
print(fruitList1)

('Apple', 'Mango', 'Orange', ['Beans', 'Carrot', 'Beetroot'])

In [36]:
fruitList1[3][2] = 'Pumpkin'

In [37]:
print(fruitList1) # Because Index 3 is a List within the Tuple it allows to change

('Apple', 'Mango', 'Orange', ['Beans', 'Carrot', 'Pumpkin'])

In [38]:
# Concatinating Tuples

In [39]:
fruitList2 = ('Apple','Mango','Orange')
fruitList3 = ('Berry','Kiwi')
combo = fruitList2 + fruitList3
print(combo)

('Apple', 'Mango', 'Orange', 'Berry', 'Kiwi')

In [40]:
# Repeat the values in Tuple

In [41]:
repeat = (('Hello',) * 4) # , represents its a Tuple & multiplies 4 times
print(repeat)

('Hello', 'Hello', 'Hello', 'Hello')

# Tuple Deletion , Count, Index , Membership

In [42]:
# As we know we can't change or modify or delete items/element in the Tuple but we can DELETE the whole Tuple

In [43]:
delete = (1,2,'Hello',3.14,1+2j)
print(delete)

(1, 2, 'Hello', 3.14, (1+2j))

In [44]:
del delete

In [47]:
count = (1,2,1,3,4,5,4,1,6)
count.count(1) # Frequency of 1 in the Tuple

3

In [48]:
index = (1,2,1,3,4,5,4,1,6)
print(index.index(4)) # return index of the 1st occurance of the item

4

In [49]:
membership = (1,2,1,3,4,5,4,1,6)
print(5 in membership)

True

In [50]:
print(7 in membership)

False

# Tuple Built in Functions

In [51]:
length = (1,2,1,3,4,5,4,1,6)
print(len(length))

9

In [54]:
sort = (1,2,1,3,4,5,4,1,6)
sort1 = sorted(sort)
print(sort1)

[1, 1, 1, 2, 3, 4, 4, 5, 6]

In [55]:
sort = (1,2,1,3,4,5,4,1,6)
print(max(sort))

6

In [57]:
sort = (-1,0,2,1,3,4,5,4,1,6)
print(min(sort))

-1

In [59]:
sort = (-1,2,1,3,4,5,4,1,6)
print(sum(sort))

25