# Python List

In [1]:
# List is an ordered sequence of items.Most used Datatype.All items within the list do not need to be of same type.
# Declaring a list[items seperated by commas]
# Index start with 0 in List too
# Declared with Square Brackets [items seperated by commas]

In [2]:
myFirstList = [13,3.14,'Data Science']

In [3]:
print(myFirstList)

[13, 3.14, 'Data Science']

In [4]:
print(myFirstList[2])

Data Science

In [5]:
# Lists are Mutable i.e items in the list can be changed

In [6]:
myFirstList[1] = 1+2j

In [7]:
print(myFirstList)

[13, (1+2j), 'Data Science']

# Python Tuple

In [8]:
# Tuple is also ordered sequence of items same as list.But it IMMUTABLE.i,e Once Created cannot be manipulated
# Declared with Round Brackets (items seperated by commas)

In [19]:
myFirstTuple = (10,'S','Thiyagu')

In [20]:
print(myFirstTuple)

(10, 'S', 'Thiyagu')

In [21]:
print(myFirstTuple[1]) # Extract element from list

S

In [23]:
myFirstTuple[0] = 20 # Below Error is a classic example for Immutable

TypeError: 'tuple' object does not support item assignment

# Python Set

In [24]:
# Set is an UNORDERED Collection of Unique Items.Set is declared with Flower Brackets{items seperated by commas}

In [32]:
myFirstSet = {10,20,"Thiyagu",1+2j}

In [26]:
print(myFirstSet) # Below how it prints in Unordered way

{(1+2j), 10, 20, 'Thiyagu'}

In [33]:
print(type(myFirstSet))

<class 'set'>

In [34]:
mySecondSet = {10,20,10,20,30,40,40,60,50,50}

In [35]:
print(mySecondSet) # See its Unordered & dont consider Duplicate Values

{40, 10, 50, 20, 60, 30}

In [36]:
print(myFirstSet) # We cant extract element from a Set through Indexing as it doesn't support due to its Unorder Collection

{(1+2j), 10, 20, 'Thiyagu'}

In [38]:
print(myFirstSet[1])

TypeError: 'set' object is not subscriptable

# Python Dictionary

In [39]:
# Dictionary is a UNORDERED collection of Key-Value Pairs
# Its declared with Flower Brackets {Key:Value seperated by comma}

In [40]:
myFirstDictionary = {'a':'Apple','b':'Bat','c':'Cat'}

In [41]:
print(myFirstDictionary)

{'a': 'Apple', 'b': 'Bat', 'c': 'Cat'}

In [42]:
print(myFirstDictionary['c']) # Using the Key we extract or access the element

Cat

In [43]:
print(myFirstDictionary['d']) # accessing when Key:Value is not in the Dictionary

KeyError: 'd'

# Conversion between DataTypes

In [44]:
# We can convert between different data types using different type conversions like int(),float(),str()

In [45]:
decimal = 3.14

In [46]:
int(decimal) # Decimal to Integer

3

In [47]:
whole = 25

In [48]:
float(whole) # Integer to Float

25.0

In [49]:
str(whole) # Integer to String

'25'

In [50]:
string = 'hello'

In [51]:
int(string) # Cant do from String to Int

ValueError: invalid literal for int() with base 10: 'hello'

In [52]:
# Converting List to Set

In [57]:
a = [1,2,3]

In [58]:
print(type(a))

<class 'list'>

In [59]:
s = set(a)
print(type(s))

<class 'set'>

In [60]:
# Converting String to a List

In [61]:
string = 'Hello'
list(string)

['H', 'e', 'l', 'l', 'o']

# Python Input & Output

In [62]:
# We use usually print() function to output data to the standard out put device

In [63]:
print("Hello Thiyagu")

Hello Thiyagu

In [69]:
a = 25
print("The Value of a is =" , a)
print("The Value of a is = " + str(a)) # + concatenate the String in double quotes with str() fucntion

The Value of a is = 25
The Value of a is = 25

In [70]:
print(type(a))

<class 'int'>

# Output Formatting

In [71]:
a=10;b=20 #Multiple statements in single line
print("The Value of a is {} and Value of b is {}".format(a,b))

# String has fucntion .format where values are assigned inside curly braces

The Value of a is 10 and Value of b is 20

In [75]:
c= 25 ; d = 35
print("The Value of c is {1} and Value of d is {0}".format(c,d))
# .format assign the value based on the index passed on to the curly braces.

The Value of c is 35 and Value of d is 25

In [76]:
print("Hello {name},{greeting}".format(name='Thiyagu',greeting='Good Day'))
# .format use keyword arguments to format String

Hello Thiyagu,Good Day

In [78]:
print("The Story of {0},{1} and {other}".format('Bill','John',other='Jack'))
#combine Positional arguement using Index & pass KeyWord arguement

The Story of Bill,John and Jack

# Python Input

In [80]:
num = input("Enter your lucky numcber :")
print(num)

Enter your lucky numcber :13
13